<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    </head>
    <body>
        <center>
    		<% include templates/header.ejs %>
    		<h3><strong>Acknowledgements</strong></h3>
    		<div class="row" style="margin-bottom:40px;">
    			<div class="col-md-1">
    				<!-- Idle column-->
    			</div>
    			<div class="col-md-2">
    				<img id="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1aAABSL3DnIpyGy23sZu9W5xMFNS0Wb7aLatg25D5MZ_MjJAD" alt="People">
    			</div>
    			<div class="col-md-7">
    				<span><u><strong>People</strong></u></span>
    				<ul>
	    				<li>The whole DBMI for such a program</li>
	    				<li>Cindy Gadd & Rischelle Jenkins</li>
	    				<li>Bing Zhang & Jing Wang - Training and Project Clarifications</li>
	    				<li>Suhas Vasaikar - Constructive Criticism</li>
	    				<li>Peter Straub - Data Collection</li>
	    				<li>All other DBMI interns - Contributed to my challenging yet fun summer experience</li>
	    			</ul>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-md-1">
    				<!-- Idle column-->
    			</div>
    			<div class="col-md-2">
    				<img id="icon" src="https://www.mascomabank.com/wp-content/uploads/2014/11/MSB_Icon_Grant_green.png" alt="Grants">
    			</div>
    			<div class="col-md-7" style="padding: 30px; padding-left:85px;">
    				<span><u><strong>Grants</strong></u></span>
    				<ul>
    					<li>
    						NCI/Leidos 15X038, “Connecting genomic, proteomic and clinical attributes with the LinkedOmics Tool Suite”
    					</li>
    				</ul>
    			</div>
    		</div>

    		</div>
	        <% include templates/footer.ejs %>
    	</center>
    </body>
</html>
