<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    </head>
    <body>
        <center>
    		<% include templates/header.ejs %>
    		<h3><strong>Acknowledgements</strong></h3>
    		<div>
    			<ul>
    				<li>The whole DBMI for such a program</li>
    				<li>Cindy Gadd & Rischelle Jenkins</li>
    				<li>Bing Zhang & Jing Wang - Training and Project Clarifications</li>
    				<li>Suhas Vasaikar - Constructive Criticism</li>
    				<li>Peter Straub - Data Generation</li>
    				<li>All other DBMI interns - Contributed to my challenging yet fun summer experience</li>
    			</ul>
    		</div>

    		</div>
	        <% include templates/footer.ejs %>
    	</center>
    </body>
</html>
