<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/viz.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
        <script type="text/javascript" src="/javascripts/arrayUtils.js"></script>
        <script type="text/javascript" src="/javascripts/kaplanMeier.js"></script>
        <script type="text/javascript" src="/javascripts/continuous.js"></script>
        <script type="text/javascript" src="/javascripts/binary.js"></script>
        <script type="text/javascript" src="/javascripts/survival.js"></script>
        <script type="text/javascript" src="/javascripts/scatterplot.js"></script>
        <script type="text/javascript" src="/javascripts/venn.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    </head>
    <body>
        <center>
            <% include templates/header.ejs %>
            <h3><strong>LinkCompare</strong></h3>

            <div class="row">
                <div class="col-xs-3" id="idle">
                    <!-- This idle div is only used to pad the text -->
                </div>
                <div class="col-xs-6">
                    <p id="prompt">
                        This functionality is used to visualize the results of association analyses by the LinkCompare tool in the LinkedOmics suite. Select your desired funtionality, upload your data files and run Visiomics, but first make sure your data files look like the example in the image below.
                    </p>
                </div>
                <div class="col-xs-3" id="idle">
                    <!-- This idle div is only used to pad the text -->
                </div>
            </div>

            <div>
                <img src="" id="dataImg" alt="What your data files should look like">
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="run">
                            <form method="post">
                                <div class="form-group row">
                                    <label class="col-xs-3 control-label">Select Data Type</label>
                                    <div class="select col-md-3">
                                        <select id="selectFunction" name="data-type" class="form-control">
                                            <option value="venn">Venn Diagram</option>
                                            <option value="heatmap">Heatmap</option>
                                            <option value="scatterplot">Scatterplot</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3 control-label">Select First Input File</label>
                                    <div class="select col-md-1">
                                        <span class="btn btn-file btn-default">
                                            Choose File
                                            <input type="file" name="file1" id="fileInput">
                                        </span>
                                    </div>
                                    <label id="chosen-file1" class="col-md-4 control-label chosen">No Chosen file</label>
                                </div>

                                <div class="form-group row" id="select2">
                                    <label class="col-xs-3 control-label">Select Second Input File</label>
                                    <div class="select col-md-1">
                                        <span class="btn btn-file btn-default">
                                            Choose File
                                            <input type="file" name="file2" id="fileInput2">
                                        </span>
                                    </div>
                                    <label id="chosen-file2" class="col-md-4 control-label chosen">No Chosen file</label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3 control-label"></label>
                                    <button class="btn btn-primary col-md-1" id="runButton">
                                        Run
                                    </button>
                                </div>
                        </form>

                        <div id="viz" class="col-md-7">

                        </div>


                        <script type="text/javascript">
                            var selectFunction = document.getElementById("selectFunction");
                            $('#selectFunction').on('change', function() {
                                if (selectFunction.options[selectFunction.selectedIndex].value != "venn") {
                                    document.getElementById("select2").style.display = "none";
                                } else {
                                    document.getElementById("select2").style.display = "";
                                }
                            });

                            $(document).on('change', '.btn-file :file', function() {
                                var input = $(this),
                                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                                    label = input.val().replace(/\\/g, '/').replace(/.*\//, ''),
                                    chosen = document.getElementById("chosen-" + this.name);
                                input.trigger('fileselect', [numFiles, label]);
                                chosen.innerHTML = label;
                            });
                        </script>   
                    </div>

            </div>
            <% include templates/footer.ejs %>
        </center>
    </body>
</html>
