<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
        <script type="text/javascript" src="/javascripts/arrayUtils.js"></script>
        <script type="text/javascript" src="/javascripts/kaplanMeier.js"></script>
        <script type="text/javascript" src="/javascripts/continuous.js"></script>
        <script type="text/javascript" src="/javascripts/binary.js"></script>
        <script type="text/javascript" src="/javascripts/survival.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    </head>
    <body>
        <center>
            <% include templates/header.ejs %>
            <h3><strong>LinkFinder</strong></h3>

            <p>Select your parameters and run</p>

            <div class="row">
                <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="run">
                            <form method="get" name="form">

                                <div class="form-group row">
                                    <label class="col-xs-3 control-label">Select Data Type</label>
                                    <div class="select col-md-3">
                                        <select name="data-type" class="form-control" id="selectFunction">
                                            <option value="binary">Binary</option>
                                            <option value="continuous">Continuous</option>
                                            <option value="survival">Survival</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3 control-label">Select Input File</label>
                                    <div class="select col-md-1">
                                        <span class="btn btn-file btn-default">
                                            Choose File
                                            <input name="data-file" type="file"  id="fileInput" required>
                                        </span>
                                    </div>
                                    <label id="chosen-file" class="col-md-3 control-label chosen">No file chosen</label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3 control-label"></label>
                                    <button class="btn btn-primary col-md-1" id="runButton">Run</button>
                                </div>
                        </form>

                        <div id="viz" class="col-md-7">
                        
                        </div>
                            
                        </div>

                        <script type="text/javascript">

                            $(document).on('change', '.btn-file :file', function() {
                                var input = $(this),
                                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                                    label = input.val().replace(/\\/g, '/').replace(/.*\//, ''),
                                    chosen = document.getElementById("chosen-file");
                                input.trigger('fileselect', [numFiles, label]);
                                chosen.innerHTML = label;
                            });
                        </script>   
                    </div>
            </div>

            </div>
            <% include templates/footer.ejs %>
        </center>
    </body>
</html>
