<footer>
	<div class="container">
		<hr>
		<a href="https://medschool.vanderbilt.edu">
			<img src="https://medschool.vanderbilt.edu/shared-assets/macchiato/2.0.1/images/logo.png" data-retina-src="https://medschool.vanderbilt.edu/shared-assets/macchiato/2.0.1/images/logo@2x.png" alt="Vanderbilt University School of Medicine" height="40" width="400">
		</a>
		<small id="footer">
		    <p>
			    Copyright &copy 2015  
			    <a href="https://medschool.vanderbilt.edu/">Vanderbilt University School of Medicine</a>.
			    <a href="mailto:kofi.amoah@vanderbilt.edu">Issues with this site?</a><br>
		    </p>
	    </small>
	</div>
</footer>