<div  class="container-fluid">
	<div class="jumbotron row" id="jumbo">
		<div class="col-md-2"></div>
		<a href="http://vanderbilt.edu">
			<img class="col-md-1 img-responsive" id="vandy-logo" src="/images/logo.png">
		</a>
		<div class="col-md-5">
			<a href="/" id="title">
				<h2><strong>Visiomics</strong></h2>
			</a>
			<h5 id="zhanglab">Dr. Bing Zhang Lab<br> Vanderbilt University Department of Biomedical Informatics</h5>
		</div>
		<a href="http://bioinfo.vanderbilt.edu/zhanglab/">
			<img class="col-md-2 img-responsive" id="lab-logo" src="http://bioinfo.vanderbilt.edu/zhanglab/sites/default/files/garland_logo.png">
		</a>
	</div>

	<div class="btn-group btn-group-justified" id="buttons">
	    <a href="/" class="btn btn-sm" id="btn-txt">Home</a>
	    <a href="/about" class="btn btn-sm" id="btn-txt">About</a>
	    <a href="/linkFinder" class="btn btn-sm" id="btn-txt">LinkViz</a>
	    <a href="/linkCompare" class="btn btn-sm" id="btn-txt">LinkCompare</a>
	    <a href="/acknowledge" class="btn btn-sm" id="btn-txt">Acknowledgements</a>
	    <a href="/contact" class="btn btn-sm" id="btn-txt"	>Contact</a>
	</div>
